{% extends "base.html" %}
{% block title %}{% if hdc_signature_mode|default(false) %}HDC Review JBS10{% elif supervisor_signature_mode|default(false) %}Sign JBS10{% else %}JBS 10 - Title / Supervisor / Assessor Registration{% endif %}{% endblock %}
{% block app_name %}MBA{% endblock %}
{% block page_heading %}{% if hdc_signature_mode|default(false) %}HDC Review JBS10{% elif supervisor_signature_mode|default(false) %}Sign JBS10{% else %}JBS 10 - Title / Supervisor / Assessor Registration{% endif %}{% endblock %}
{% block page_subheading %}{{ project.project_title }}{% endblock %}

{% block body %}
{% set supervisor_signature_mode = supervisor_signature_mode|default(false) %}
{% set hdc_signature_mode = hdc_signature_mode|default(false) %}
{% set student_fill_mode = student_fill_mode|default(false) %}
{% set content_locked = supervisor_signature_mode or hdc_signature_mode %}
{% macro signature_field(name, value, editable=false, required=false) -%}
  <div class="mba-doc-signature-field">
    {% if prefill.get(name ~ '_image') %}
      <img class="mba-doc-signature-image" src="{{ prefill.get(name ~ '_image') }}" alt="Saved signature">
    {% endif %}
    <input class="mba-doc-input" name="{{ name }}" value="{{ value or '' }}" {% if not editable %}readonly{% endif %} {% if required %}required{% endif %}>
  </div>
{%- endmacro %}
{% set current_study_type = prefill.get('study_type', 'Capstone Project') %}
{% set current_study_type_key = current_study_type|lower %}
{% set current_4ir = prefill.get('is_4ir_research', 'No')|lower %}
{% set current_staff = prefill.get('student_is_staff_member', 'No')|lower %}
{% set assessor_readonly = supervisor_signature_mode or hdc_signature_mode %}
{% set hide_signatures_for_student = student_fill_mode and not supervisor_signature_mode and not hdc_signature_mode %}
<!-- MBA_FORM_START -->
<div class="mba-page-stack mba-doc-page">
  <section class="ethics-panel">
    <div class="mba-doc-paper mba-doc-paper--jbs10 jbs10-doc">
      <form action="{% if hdc_signature_mode %}{{ url_for('mba.hdc_sign_project_form', project_id=project.id, form_type='jbs10') }}{% elif supervisor_signature_mode %}{{ url_for('mba.supervisor_sign_jbs10', project_id=project.id) }}{% else %}{{ url_for('mba.fill_project_form', project_id=project.id, form_type='jbs10') }}{% endif %}" method="post" class="mba-doc-form jbs10-doc-form">
        <div class="jbs10-doc-header" aria-label="JBS10 document heading">
          <img class="mba-doc-logo jbs10-doc-logo" src="{{ url_for('static', filename='img/jbs10_logo.png') }}" alt="University of Johannesburg logo">
          <div class="jbs10-doc-meta">
            <div>Form JBS10</div>
            <div>Feb 2022</div>
          </div>
          <div class="jbs10-doc-heading">
            <div class="jbs10-doc-school">JOHANNESBURG BUSINESS SCHOOL</div>
            <div class="jbs10-doc-title">REGISTRATION AND/OR AMENDMENT OF TITLE / SUPERVISOR(S) / ASSESSOR(S)</div>
          </div>
          <div class="jbs10-doc-header-rule"></div>
        </div>

        <table class="mba-doc-table jbs10-doc-table">
          <colgroup>
            <col style="width:12%;">
            <col style="width:8%;">
            <col style="width:9%;">
            <col style="width:8%;">
            <col style="width:9%;">
            <col style="width:8%;">
            <col style="width:9%;">
            <col style="width:8%;">
            <col style="width:9%;">
            <col style="width:10%;">
            <col style="width:10%;">
          </colgroup>
          <tr>
            <th class="mba-doc-section-title" colspan="11">SECTION A: Student information</th>
          </tr>
          <tr>
            <td class="mba-doc-label">Surname:</td>
            <td colspan="3"><input class="mba-doc-input" name="surname" value="{{ prefill.get('surname', '') }}" {% if content_locked %}readonly{% endif %}></td>
            <td class="mba-doc-label">Title:</td>
            <td colspan="6"><input class="mba-doc-input" name="student_title" value="{{ prefill.get('student_title', '') }}" {% if content_locked %}readonly{% endif %}></td>
          </tr>
          <tr>
            <td class="mba-doc-label">Initials(s):</td>
            <td colspan="2"><input class="mba-doc-input" name="student_initials" value="{{ prefill.get('student_initials', '') }}" {% if content_locked %}readonly{% endif %}></td>
            <td class="mba-doc-label" colspan="2">Student number:</td>
            <td colspan="2"><input class="mba-doc-input" name="student_number" value="{{ prefill.get('student_number', '') }}" required {% if content_locked %}readonly{% endif %}></td>
            <td class="mba-doc-label" colspan="3">Is this student a UJ staff member?</td>
            <td class="jbs10-doc-choice-cell">
              <label><span>Yes</span><input type="radio" name="student_is_staff_member" value="Yes" {% if current_staff == 'yes' %}checked{% endif %} {% if content_locked %}disabled{% endif %}></label>
              <label><span>No</span><input type="radio" name="student_is_staff_member" value="No" {% if current_staff != 'yes' %}checked{% endif %} {% if content_locked %}disabled{% endif %}></label>
            </td>
          </tr>
          <tr>
            <td class="mba-doc-label" colspan="3">Qualification (e.g. MBA):</td>
            <td colspan="8"><input class="mba-doc-input" name="qualification" value="{{ prefill.get('qualification', '') }}" {% if content_locked %}readonly{% endif %}></td>
          </tr>
          <tr>
            <td class="mba-doc-label" colspan="3">Ethical clearance number:</td>
            <td colspan="8"><input class="mba-doc-input" name="ethical_clearance_number" value="{{ prefill.get('ethical_clearance_number', '') }}" {% if content_locked %}readonly{% endif %}></td>
          </tr>
          <tr>
            <td class="mba-doc-label">Capstone project</td>
            <td class="jbs10-doc-check-cell"><input class="jbs10-doc-mark" type="radio" name="study_type" value="Capstone Project" {% if current_study_type_key in ['capstone project', 'capstone consultancy project', 'capstone'] %}checked{% endif %} {% if content_locked %}disabled{% endif %}></td>
            <td class="mba-doc-label">Limited scope dissertation</td>
            <td class="jbs10-doc-check-cell"><input class="jbs10-doc-mark" type="radio" name="study_type" value="Limited scope dissertation" {% if 'limited scope' in current_study_type_key %}checked{% endif %} {% if content_locked %}disabled{% endif %}></td>
            <td class="mba-doc-label">Minor dissertation</td>
            <td class="jbs10-doc-check-cell"><input class="jbs10-doc-mark" type="radio" name="study_type" value="Minor dissertation" {% if current_study_type_key == 'minor dissertation' %}checked{% endif %} {% if content_locked %}disabled{% endif %}></td>
            <td class="mba-doc-label">Dissertation</td>
            <td class="jbs10-doc-check-cell"><input class="jbs10-doc-mark" type="radio" name="study_type" value="Dissertation" {% if current_study_type_key == 'dissertation' %}checked{% endif %} {% if content_locked %}disabled{% endif %}></td>
            <td class="mba-doc-label">Thesis</td>
            <td class="mba-doc-label">Monograph</td>
            <td class="jbs10-doc-check-cell"><input class="jbs10-doc-mark" type="radio" name="study_type" value="Thesis - Monograph" {% if current_study_type_key in ['thesis', 'thesis - monograph', 'monograph'] %}checked{% endif %} {% if content_locked %}disabled{% endif %}></td>
          </tr>
          <tr>
            <td colspan="9"></td>
            <td class="mba-doc-label">By article</td>
            <td class="jbs10-doc-check-cell"><input class="jbs10-doc-mark" type="radio" name="study_type" value="Thesis - By Article" {% if current_study_type_key in ['thesis - by article', 'thesis by article', 'by article'] %}checked{% endif %} {% if content_locked %}disabled{% endif %}></td>
          </tr>
        </table>

        <table class="mba-doc-table jbs10-doc-table">
          <colgroup>
            <col style="width:28%;">
            <col style="width:34%;">
            <col style="width:12%;">
            <col style="width:8%;">
            <col style="width:10%;">
            <col style="width:8%;">
          </colgroup>
          <tr>
            <th class="mba-doc-section-title" colspan="6">SECTION B: Registration/Amendment of title<br><span class="jbs10-doc-small">The title should already have been approved prior to the appointment of the assessors.</span></th>
          </tr>
          <tr>
            <th colspan="6">B1: Registration of title (case sensitive)</th>
          </tr>
          <tr>
            <td class="mba-doc-label">Proposed title/ Approved title</td>
            <td colspan="3"><textarea class="mba-doc-textarea mba-doc-textarea--line jbs10-doc-textarea" name="research_title" rows="3" required {% if content_locked %}readonly{% endif %}>{{ prefill.get('research_title', '') }}</textarea></td>
            <td class="mba-doc-label" colspan="2">Is this a 4IR research?</td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="jbs10-doc-center">YES</td>
            <td class="jbs10-doc-check-cell"><input class="jbs10-doc-mark" type="radio" name="is_4ir_research" value="Yes" {% if current_4ir == 'yes' %}checked{% endif %} {% if content_locked %}disabled{% endif %}></td>
            <td class="jbs10-doc-center">NO</td>
            <td class="jbs10-doc-check-cell"><input class="jbs10-doc-mark" type="radio" name="is_4ir_research" value="No" {% if current_4ir != 'yes' %}checked{% endif %} {% if content_locked %}disabled{% endif %}></td>
          </tr>
          <tr>
            <th colspan="6">B2: Amendment of title (case sensitive)</th>
          </tr>
          <tr>
            <td class="mba-doc-label" colspan="2">(Also complete section B1 providing the previously approved title)</td>
            <td colspan="4"><textarea class="mba-doc-textarea mba-doc-textarea--line jbs10-doc-textarea" name="amended_title" rows="2" {% if content_locked %}readonly{% endif %}>{{ prefill.get('amended_title', prefill.get('previous_title', '')) }}</textarea></td>
          </tr>
          <tr>
            <th class="mba-doc-section-title" colspan="6">SECTION C: Registration/Amendment of supervisor/s</th>
          </tr>
          <tr>
            <th colspan="6">C1: Registration of (proposed) supervisor/s</th>
          </tr>
          <tr>
            <td class="mba-doc-label">Supervisor:<br><span class="jbs10-doc-small">Title, initials, surname, affiliation</span></td>
            <td colspan="2"><input class="mba-doc-input" name="supervisor_name" value="{{ prefill.get('supervisor_name', prefill.get('proposed_supervisor', '')) }}" {% if content_locked %}readonly{% endif %}></td>
            <td class="mba-doc-label">Staff number:</td>
            <td colspan="2"><input class="mba-doc-input" name="supervisor_staff_number" value="{{ prefill.get('supervisor_staff_number', '') }}" {% if content_locked %}readonly{% endif %}></td>
          </tr>
          <tr>
            <td class="mba-doc-label">Co-supervisor I:<br><span class="jbs10-doc-small">Title, initials, surname, affiliation</span></td>
            <td colspan="2"><input class="mba-doc-input" name="co_supervisor_1" value="{{ prefill.get('co_supervisor_1', '') }}" {% if content_locked %}readonly{% endif %}></td>
            <td class="mba-doc-label">Staff number:</td>
            <td colspan="2"><input class="mba-doc-input" name="co_supervisor_1_staff_number" value="{{ prefill.get('co_supervisor_1_staff_number', '') }}" {% if content_locked %}readonly{% endif %}></td>
          </tr>
          <tr>
            <td class="mba-doc-label">Co-supervisor II:<br><span class="jbs10-doc-small">Title, initials, surname, affiliation</span></td>
            <td colspan="2"><input class="mba-doc-input" name="co_supervisor_2" value="{{ prefill.get('co_supervisor_2', '') }}" {% if content_locked %}readonly{% endif %}></td>
            <td class="mba-doc-label">Staff number:</td>
            <td colspan="2"><input class="mba-doc-input" name="co_supervisor_2_staff_number" value="{{ prefill.get('co_supervisor_2_staff_number', '') }}" {% if content_locked %}readonly{% endif %}></td>
          </tr>
          <tr>
            <th colspan="6">C2: Amendment of supervisor/s<br><span class="jbs10-doc-small">(Also complete section C1 by indicating who the approved supervisor(s) previously were)</span></th>
          </tr>
          <tr>
            <td class="mba-doc-label">Amended supervisor:<br><span class="jbs10-doc-small">Title, initials, surname, affiliation</span></td>
            <td colspan="2"><input class="mba-doc-input" name="amended_supervisor_lineup" value="{{ prefill.get('amended_supervisor_lineup', prefill.get('amended_supervisor', '')) }}" {% if content_locked %}readonly{% endif %}></td>
            <td class="mba-doc-label">Staff number:</td>
            <td colspan="2"><input class="mba-doc-input" name="amended_supervisor_staff_number" value="{{ prefill.get('amended_supervisor_staff_number', '') }}" {% if content_locked %}readonly{% endif %}></td>
          </tr>
          <tr>
            <td class="mba-doc-label">Amended co-supervisor:<br><span class="jbs10-doc-small">Title, initials, surname, affiliation</span></td>
            <td colspan="2"><input class="mba-doc-input" name="amended_co_supervisor_lineup" value="{{ prefill.get('amended_co_supervisor_lineup', prefill.get('amended_co_supervisors', '')) }}" {% if content_locked %}readonly{% endif %}></td>
            <td class="mba-doc-label">Staff number:</td>
            <td colspan="2"><input class="mba-doc-input" name="amended_co_supervisor_staff_number" value="{{ prefill.get('amended_co_supervisor_staff_number', '') }}" {% if content_locked %}readonly{% endif %}></td>
          </tr>
          <tr>
            <th class="mba-doc-section-title" colspan="6">SECTION D: Nomination/Amendment of assessors</th>
          </tr>
          <tr>
            <th colspan="6">D1: Nomination of internal assessor:<br><span class="jbs10-doc-small">An internal assessor from within CBE can be nominated where required.</span></th>
          </tr>
          <tr>
            <td class="mba-doc-label" colspan="2">Title, initials, surname:</td>
            <td colspan="4"><input class="mba-doc-input" name="internal_assessor_name" value="{{ prefill.get('internal_assessor_name', '') }}" {% if assessor_readonly or content_locked %}readonly{% endif %}></td>
          </tr>
        </table>

        <table class="mba-doc-table jbs10-doc-table">
          <colgroup>
            <col style="width:30%;">
            <col style="width:34%;">
            <col style="width:16%;">
            <col style="width:20%;">
          </colgroup>
          <tr>
            <th colspan="4">D2: Nomination of external assessor/s:<br><span class="jbs10-doc-small">Provide the external assessor details below. CV and highest qualification documents are handled through the assessor acceptance documents.</span></th>
          </tr>
          {% for index in range(1, 5) %}
            <tr>
              <td class="mba-doc-label">External assessor {{ index }}:<br><span class="jbs10-doc-small">Title, initials, surname, affiliation</span></td>
              <td><input class="mba-doc-input" name="assessor_{{ index }}_name" value="{{ prefill.get('assessor_' ~ index ~ '_name', '') }}" {% if assessor_readonly or content_locked %}readonly{% endif %}></td>
              <td class="mba-doc-label">Staff number:</td>
              <td><input class="mba-doc-input" name="assessor_{{ index }}_staff_number" value="{{ prefill.get('assessor_' ~ index ~ '_staff_number', '') }}" {% if assessor_readonly or content_locked %}readonly{% endif %}></td>
            </tr>
            <tr>
              <td class="mba-doc-label">Highest academic qualification</td>
              <td><input class="mba-doc-input" name="assessor_{{ index }}_qualification" value="{{ prefill.get('assessor_' ~ index ~ '_qualification', '') }}" {% if assessor_readonly or content_locked %}readonly{% endif %}></td>
              <td class="mba-doc-label">E-mail address:</td>
              <td><input class="mba-doc-input" name="assessor_{{ index }}_email" value="{{ prefill.get('assessor_' ~ index ~ '_email', '') }}" {% if assessor_readonly or content_locked %}readonly{% endif %}></td>
            </tr>
          {% endfor %}
          <tr>
            <th colspan="4">D3: Amendment of internal assessor</th>
          </tr>
          <tr>
            <td class="mba-doc-label" colspan="2">Title, initials, surname:</td>
            <td colspan="2"><input class="mba-doc-input" name="amended_internal_assessor_name" value="{{ prefill.get('amended_internal_assessor_name', '') }}" {% if assessor_readonly or content_locked %}readonly{% endif %}></td>
          </tr>
          <tr>
            <td class="mba-doc-label">Highest academic qualification</td>
            <td><input class="mba-doc-input" name="amended_internal_assessor_qualification" value="{{ prefill.get('amended_internal_assessor_qualification', '') }}" {% if assessor_readonly or content_locked %}readonly{% endif %}></td>
            <td class="mba-doc-label">Staff number:</td>
            <td><input class="mba-doc-input" name="amended_internal_assessor_staff_number" value="{{ prefill.get('amended_internal_assessor_staff_number', '') }}" {% if assessor_readonly or content_locked %}readonly{% endif %}></td>
          </tr>
          <tr>
            <th colspan="4">D4: Amendment of external assessor/s</th>
          </tr>
          {% for index in range(1, 4) %}
            <tr>
              <td class="mba-doc-label">Amended external assessor {{ index }}:<br><span class="jbs10-doc-small">Title, initials, surname, affiliation</span></td>
              <td><input class="mba-doc-input" name="amended_external_assessor_{{ index }}_name" value="{{ prefill.get('amended_external_assessor_' ~ index ~ '_name', '') }}" {% if assessor_readonly or content_locked %}readonly{% endif %}></td>
              <td class="mba-doc-label">Staff number:</td>
              <td><input class="mba-doc-input" name="amended_external_assessor_{{ index }}_staff_number" value="{{ prefill.get('amended_external_assessor_' ~ index ~ '_staff_number', '') }}" {% if assessor_readonly or content_locked %}readonly{% endif %}></td>
            </tr>
            <tr>
              <td class="mba-doc-label">Highest academic qualification</td>
              <td><input class="mba-doc-input" name="amended_external_assessor_{{ index }}_qualification" value="{{ prefill.get('amended_external_assessor_' ~ index ~ '_qualification', '') }}" {% if assessor_readonly or content_locked %}readonly{% endif %}></td>
              <td class="mba-doc-label">E-mail address:</td>
              <td><input class="mba-doc-input" name="amended_external_assessor_{{ index }}_email" value="{{ prefill.get('amended_external_assessor_' ~ index ~ '_email', '') }}" {% if assessor_readonly or content_locked %}readonly{% endif %}></td>
            </tr>
          {% endfor %}
        </table>

        <table class="mba-doc-table mba-doc-table--tight jbs10-doc-table jbs10-doc-signatures">
          <colgroup>
            <col style="width:30%;">
            <col style="width:34%;">
            <col style="width:16%;">
            <col style="width:20%;">
          </colgroup>
          <tr>
            <td class="mba-doc-label">Signature: Supervisor</td>
            <td>{{ signature_field('supervisor_signature', '' if hide_signatures_for_student else prefill.get('supervisor_signature', ''), supervisor_signature_mode, supervisor_signature_mode) }}</td>
            <td class="mba-doc-label">Date</td>
            <td><input class="mba-doc-input" type="date" name="supervisor_signature_date" value="{{ '' if hide_signatures_for_student else prefill.get('supervisor_signature_date', '') }}" {% if not supervisor_signature_mode %}readonly{% endif %} {% if supervisor_signature_mode %}required{% endif %}></td>
          </tr>
          <tr>
            <td class="mba-doc-label">Signature: Co-Supervisor</td>
            <td><input class="mba-doc-input" name="co_supervisor_signature" value="{{ '' if hide_signatures_for_student else prefill.get('co_supervisor_signature', '') }}" readonly></td>
            <td class="mba-doc-label">Date</td>
            <td><input class="mba-doc-input" type="date" name="co_supervisor_signature_date" value="{{ '' if hide_signatures_for_student else prefill.get('co_supervisor_signature_date', '') }}" readonly></td>
          </tr>
        </table>

        <table class="mba-doc-table mba-doc-table--tight jbs10-doc-table jbs10-doc-signatures">
          <colgroup>
            <col style="width:30%;">
            <col style="width:34%;">
            <col style="width:16%;">
            <col style="width:20%;">
          </colgroup>
          <tr>
            <td class="mba-doc-label">Signature: Head of Department</td>
            <td>{{ signature_field('head_of_department_signature', prefill.get('head_of_department_signature', ''), hdc_signature_mode, hdc_signature_mode) }}</td>
            <td class="mba-doc-label">Date</td>
            <td><input class="mba-doc-input" type="date" name="head_of_department_signature_date" value="{{ prefill.get('head_of_department_signature_date', '') }}" {% if not hdc_signature_mode %}readonly{% endif %} {% if hdc_signature_mode %}required{% endif %}></td>
          </tr>
        </table>

        <table class="mba-doc-table mba-doc-table--tight jbs10-doc-table jbs10-doc-signatures">
          <colgroup>
            <col style="width:30%;">
            <col style="width:34%;">
            <col style="width:16%;">
            <col style="width:20%;">
          </colgroup>
          <tr>
            <td class="mba-doc-label">Signature: JBS HDC</td>
            <td>{{ signature_field('jbs_hdc_signature', prefill.get('jbs_hdc_signature', ''), hdc_signature_mode, hdc_signature_mode) }}</td>
            <td class="mba-doc-label">Date</td>
            <td><input class="mba-doc-input" type="date" name="jbs_hdc_signature_date" value="{{ prefill.get('jbs_hdc_signature_date', '') }}" {% if not hdc_signature_mode %}readonly{% endif %} {% if hdc_signature_mode %}required{% endif %}></td>
          </tr>
        </table>

        {% if hdc_signature_mode %}
          <div class="mba-doc-muted-box" style="border:1.5px solid #92400e;background:#fffbeb;margin-top:1rem;">
            <p class="mba-doc-note" style="font-weight:700;color:#78350f;margin-bottom:8px;">HDC review</p>
            <p class="mba-doc-note" style="color:#78350f;">
              Review the opened JBS10 form and complete the Head of Department and JBS HDC signature fields. Return to the HDC dashboard after signing this document to complete the overall nomination review.
            </p>
          </div>
        {% endif %}

        {% if supervisor_signature_mode %}
          <div class="mba-doc-muted-box" style="border:1.5px solid #b45309;background:#fff7ed;margin-top:1rem;">
            <p class="mba-doc-note" style="font-weight:700;color:#92400e;margin-bottom:8px;">Supervisor review</p>
            <p class="mba-doc-note" style="color:#92400e;">
              Review the full JBS10 form. Sign it only when the details are correct. If amendments are needed, return the form to the student with clear instructions.
            </p>
          </div>
          <label>Amendments required
            <textarea class="mba-doc-textarea" name="supervisor_return_comment" rows="3" placeholder="Required when returning JBS10 to the student">{{ prefill.get('_supervisor_return_request', '') }}</textarea>
          </label>
        {% endif %}

        <div class="mba-doc-actions">
          {% if hdc_signature_mode %}
            <button class="primary-button" type="submit">Sign JBS10</button>
          {% elif supervisor_signature_mode %}
            <button class="primary-button" type="submit" name="action" value="sign">Sign JBS10</button>
            <button class="secondary-button" type="submit" name="action" value="return" formnovalidate>Return to Student</button>
          {% else %}
            <button class="primary-button" type="submit">Submit JBS 10 for Supervisor Review</button>
          {% endif %}
          <a href="{% if hdc_signature_mode %}{{ url_for('mba.hdc_dashboard') }}{% elif supervisor_signature_mode %}{{ url_for('mba.scholar_dashboard') }}{% else %}{{ url_for('mba.student_dashboard') }}{% endif %}" class="secondary-button">Cancel</a>
        </div>
      </form>
    </div>
  </section>
</div>
<!-- MBA_FORM_END -->
{% if hdc_signature_mode %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const editable = new Set(['head_of_department_signature', 'head_of_department_signature_date', 'jbs_hdc_signature', 'jbs_hdc_signature_date']);
      document.querySelectorAll('.mba-doc-form input, .mba-doc-form textarea, .mba-doc-form select').forEach(function (field) {
        if (editable.has(field.name) || field.type === 'hidden' || field.type === 'submit') {
          return;
        }
        if (field.type === 'checkbox' || field.type === 'radio' || field.tagName === 'SELECT') {
          field.disabled = true;
        } else {
          field.readOnly = true;
        }
      });
    });
  </script>
{% endif %}
{% if supervisor_signature_mode %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const editable = new Set(['supervisor_signature', 'supervisor_signature_date', 'supervisor_return_comment', 'action']);
      document.querySelectorAll('.mba-doc-form input, .mba-doc-form textarea, .mba-doc-form select').forEach(function (field) {
        if (editable.has(field.name) || field.type === 'hidden' || field.type === 'submit') {
          return;
        }
        if (field.type === 'checkbox' || field.type === 'radio' || field.tagName === 'SELECT') {
          field.disabled = true;
        } else {
          field.readOnly = true;
        }
      });
    });
  </script>
{% endif %}
{% endblock %}
