{% extends "base.html" %}
{% block title %}Supervisor Agreement Form{% endblock %}
{% block app_name %}MBA{% endblock %}
{% block page_heading %}Supervisor Agreement Form{% endblock %}
{% block page_subheading %}{{ project.project_title }}{% endblock %}

{% block body %}
{% set student_acceptance = student_acceptance|default(false) %}
{% set readonly_for_student = student_acceptance %}
{% set student_number_value = prefill.get('student_number', '') %}
{% set co_supervisor_has_signature = prefill.get('co_supervisor_full_name') or prefill.get('co_supervisor_signature') or prefill.get('co_supervisor_signature_name') %}
{% macro signature_preview(name) -%}
  {% if prefill.get(name ~ '_image') %}
    <img class="mba-doc-signature-image" src="{{ prefill.get(name ~ '_image') }}" alt="Saved signature">
  {% endif %}
{%- endmacro %}
<!-- MBA_FORM_START -->
<div class="mba-page-stack mba-doc-page">
  <section class="ethics-panel">
    <div class="mba-doc-paper supervisor-agreement-doc">
      <form id="supervisor-agreement-form" action="{% if student_acceptance %}{{ url_for('mba.fill_project_form', project_id=project.id, form_type='supervisor_agreement') }}{% else %}{{ url_for('mba.supervisor_fill_form', project_id=project.id) }}{% endif %}" method="post" class="mba-doc-form supervisor-agreement-form">
        <input type="hidden" name="research_title" value="{{ prefill.get('research_title', project.project_title) }}">
        <input type="hidden" name="student_signature_date" value="{{ prefill.get('student_signature_date', '') }}">
        <input type="hidden" name="supervisor_signature_date" value="{{ prefill.get('supervisor_signature_date', '') }}">

        <table class="mba-doc-table supervisor-agreement-table supervisor-agreement-header">
          <colgroup>
            <col style="width:24%;">
            <col style="width:76%;">
          </colgroup>
          <tr>
            <td class="supervisor-agreement-logo-cell">
              <img class="mba-doc-logo supervisor-agreement-logo" src="{{ url_for('static', filename='img/supervisor_agreement_logo.png') }}" alt="University of Johannesburg logo">
            </td>
            <td class="supervisor-agreement-title-cell">
              <div class="supervisor-agreement-school">JOHANNESBURG BUSINESS SCHOOL</div>
              <div class="supervisor-agreement-date">Sept 2022</div>
              <div class="supervisor-agreement-title">STUDENT/SUPERVISOR AGREEMENT</div>
            </td>
          </tr>
        </table>

        <div class="supervisor-agreement-copy">
          <p><strong>PLEASE NOTE:</strong></p>
          <p>This document lists the rights and obligations of all master&rsquo;s and doctoral postgraduate students enrolled at the University of Johannesburg (UJ), as well as those of their supervisors and co-supervisors.</p>
          <p>For the purpose of this document, co-supervisors will also be referred to as supervisors, since their essential responsibilities are the same in respect of their interaction with the student. Where minor differences may exist, the supervisor and co-supervisor(s) will clarify these between themselves, and communicate them to the student.</p>
          <p>The purpose of this document is to provide a clear and concise outline of what each party to the student-supervisor relationship may expect from the other, thereby promoting the development and maintenance of a sound and productive relationship between the two parties.</p>
          <p>This agreement records the expectations that the parties may reasonably have from each other in respect of postgraduate supervision and does not by itself create contractual obligations or duties for the parties from the breach of which contractual remedies can be enforced against each other. The agreement does not distract from legal obligations or duties imposed upon the parties by other instruments</p>
          <p>The resolution of any disputes that might arise between postgraduate students and their supervisors will be strongly informed by the content of this document.</p>
          <p>The main focus of this agreement is the student-supervisor relationship, not the general relationship between the University and the student or supervisor. For this reason, this agreement extends &ndash; and does not replace &ndash; any other agreements between the University and its students or staff, and should therefore be read in conjunction with the general rules governing enrolment of students, or the conditions of employment for staff, for example.</p>
        </div>

        <div class="supervisor-agreement-center-title">AGREEMENT</div>

        <table class="mba-doc-table supervisor-agreement-table">
          <colgroup>
            <col style="width:28%;">
            <col style="width:34%;">
            <col style="width:14%;">
            <col style="width:24%;">
          </colgroup>
          <tr>
            <th class="mba-doc-section-title" colspan="4">BETWEEN A MASTER&rsquo;S/DOCTORAL STUDENT</th>
          </tr>
          <tr>
            <td class="mba-doc-label">Full name(s) and surname of student</td>
            <td colspan="3"><input class="mba-doc-input" name="student_name" value="{{ prefill.get('student_name', '') }}" readonly></td>
          </tr>
          <tr>
            <td class="mba-doc-label">Student number</td>
            <td><input class="mba-doc-input" name="student_number" value="{{ student_number_value }}" readonly></td>
            <td class="mba-doc-label">Degree</td>
            <td><input class="mba-doc-input" name="degree" value="{{ prefill.get('degree', '') }}" readonly></td>
          </tr>
        </table>

        <div class="supervisor-agreement-center-title">AND</div>

        <table class="mba-doc-table supervisor-agreement-table">
          <tr>
            <th class="mba-doc-section-title" colspan="2">THE SUPERVISOR</th>
          </tr>
          <tr>
            <td class="mba-doc-label" style="width:34%;">Full name(s) and surname of supervisor</td>
            <td><input class="mba-doc-input" name="supervisor_full_name" value="{{ prefill.get('supervisor_full_name', '') }}" required {% if readonly_for_student %}readonly{% endif %}></td>
          </tr>
          <tr>
            <td class="mba-doc-label">School/Department</td>
            <td><input class="mba-doc-input" name="department" value="{{ prefill.get('department', '') }}" {% if readonly_for_student %}readonly{% endif %}></td>
          </tr>
        </table>

        <div class="supervisor-agreement-center-title">AND (If applicable)</div>

        <table class="mba-doc-table supervisor-agreement-table">
          <tr>
            <th class="mba-doc-section-title" colspan="2">THE CO-SUPERVISOR</th>
          </tr>
          <tr>
            <td class="mba-doc-label" style="width:34%;">Full name(s) and surname of co-supervisor</td>
            <td><input class="mba-doc-input" name="co_supervisor_full_name" value="{{ prefill.get('co_supervisor_full_name', '') }}" {% if readonly_for_student %}readonly{% endif %}></td>
          </tr>
          <tr>
            <td class="mba-doc-label">School/Department</td>
            <td><input class="mba-doc-input" name="co_supervisor_department" value="{{ prefill.get('co_supervisor_department', '') }}" {% if readonly_for_student %}readonly{% endif %}></td>
          </tr>
        </table>

        <div class="supervisor-agreement-copy">
          <p><strong>1. PARTIES</strong></p>
          <p>The parties to this Agreement are:</p>
          <p><strong>(A) Student</strong></p>
          <p class="supervisor-agreement-template-line">
            <span>Surname</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-surname-fill" name="student_surname" value="{{ prefill.get('student_surname', '') }}" readonly>
            <span>Initials</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-initials-fill" name="student_initials" value="{{ prefill.get('student_initials', '') }}" readonly>
            <span>(hereafter called the student)</span>
          </p>
          <p>Student number</p>
        </div>

        <table class="mba-doc-table supervisor-agreement-number-table">
          <tr>
            {% for index in range(10) %}
              <td>{{ student_number_value[index:index + 1] }}</td>
            {% endfor %}
          </tr>
        </table>

        <div class="supervisor-agreement-copy">
          <p class="supervisor-agreement-template-line">
            <span>Address</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-address-fill" name="student_address" value="{{ prefill.get('student_address', '') }}" readonly>
          </p>
          <p class="supervisor-agreement-template-line">
            <span class="supervisor-agreement-empty-line"></span>
            <span>Postal code</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-postal-fill" name="student_postal_code" value="{{ prefill.get('student_postal_code', '') }}" readonly>
          </p>
          <p class="supervisor-agreement-template-line">
            <span>Degree</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-degree-fill" name="degree" value="{{ prefill.get('degree', '') }}" readonly>
          </p>
          <p><strong>(B) Supervisor</strong></p>
          <p class="supervisor-agreement-template-line">
            <span>Surname</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-surname-fill" name="supervisor_surname" value="{{ prefill.get('supervisor_surname', '') }}" {% if readonly_for_student %}readonly{% endif %}>
            <span>Initials</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-initials-fill" name="supervisor_initials" value="{{ prefill.get('supervisor_initials', '') }}" {% if readonly_for_student %}readonly{% endif %}>
          </p>
          <p class="supervisor-agreement-template-line">
            <span>School/Department</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-department-fill" name="department" value="{{ prefill.get('department', '') }}" {% if readonly_for_student %}readonly{% endif %}>
            <span>,</span>
          </p>
          <p>University of Johannesburg</p>
          <p><strong>AND (if applicable)</strong></p>
          <p><strong>(C) Co-Supervisor</strong></p>
          <p class="supervisor-agreement-template-line">
            <span>Surname</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-surname-fill" name="co_supervisor_surname" value="{{ prefill.get('co_supervisor_surname', '') }}" {% if readonly_for_student %}readonly{% endif %}>
            <span>Initials</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-initials-fill" name="co_supervisor_initials" value="{{ prefill.get('co_supervisor_initials', '') }}" {% if readonly_for_student %}readonly{% endif %}>
          </p>
          <p class="supervisor-agreement-template-line">
            <span>School/Department</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-department-fill" name="co_supervisor_department" value="{{ prefill.get('co_supervisor_department', '') }}" {% if readonly_for_student %}readonly{% endif %}>
            <span>,</span>
          </p>
          <p>University of Johannesburg</p>

          <p><strong>2. BACKGROUND</strong></p>
          <p>The basis of this agreement is to build a student-supervisor relationship for the duration of the research and study period based on mutual trust.</p>
          <p><strong>3. PURPOSE OF UNDERSTANDING</strong></p>
          <p>The main focus of this agreement is the student-supervisor relationship and not the general relationship between the University of Johannesburg and the student or supervisor.</p>
          <p><strong>4. BASIS OF UNDERSTANDING</strong></p>
          <p>4.1 This agreement does not replace any agreements between the University of Johannesburg and the student or employee/supervisor and should be read in conjunction with the general rules governing the enrolment of a student, academic regulations and conditions of employment for employees.</p>
          <p>4.2 The under-mentioned responsibilities and legitimate expectations of the student and the supervisor/co-supervisor, respectively, are applicable generically across all faculties. However, for practical and historical reasons, some faculties are required to implement additional guidelines for masters&rsquo; or doctoral research students.</p>
          <p><strong>5. DEFINITIONS PERTAINING TO THE AGREEMENT</strong></p>
          <p>&ldquo;Supervisor&rdquo; means the person appointed by the University to give professional and academic guidance to a student registered for a postgraduate research project under his/her name and to ensure the provision of adequate financial, spatial and infrastructural support for the research project prior to enrolment</p>
          <p>&ldquo;Co-Supervisor&rdquo; means a person who is not necessarily on the staff of the University and who, in consultation with the supervisor, is appointed to give assistance and guidance to a student in those areas where the supervisor is not sufficiently familiar with the full scope of the field to be covered in the project, where the project is multidisciplinary or for purposes of mentorship.</p>
          <p><strong>6. PRINCIPLES OF STUDENT/SUPERVISOR RELATIONSHIP</strong></p>
          <p><strong>6.1 Responsibilities of the student and legitimate expectations by supervisor of the student</strong></p>
          <p>The student is responsible diligently and sincerely to exercise the following responsibilities, and where appropriate to consult with his/her supervisor/co-supervisor in order to give effect to these responsibilities; conversely, the supervisor/co-supervisor may legitimately expect the student to exercise these responsibilities at all times:</p>
          <ol class="supervisor-agreement-alpha-list" type="a">
            <li>plan and implement the agreed research programme or project;</li>
            <li>successfully complete all the academic outputs of the study programme;</li>
            <li>finding appropriate literature and obtaining information from literature;</li>
            <li>writing the research proposal in the time stipulated;</li>
            <li>preparing all documents required for obtaining ethics clearance, if applicable;</li>
            <li>assisting in a limited manner in the drafting of funding applications;</li>
            <li>planning work schedules;</li>
            <li>engaging in any required fieldwork or data gathering, laboratory experimentation, data processing and statistical analyses;</li>
            <li>writing and proofreading of his/her minor dissertation, dissertation or thesis, including, but not limited to, obtaining professional assistance with the linguistic and technical editing of the minor dissertation, dissertation or thesis;</li>
            <li>attending to any amendments or revisions of the minor dissertation, dissertation or thesis required by the supervisors, or internal or external assessors, and being responsible for the production of the final bound hard and electronic copies;</li>
            <li>make regular appointments with the supervisor/co-supervisor and inform him/her/them in time if any administrative or academic difficulties should be experienced in the study programme in order that the supervisor/co-supervisor may advise in respect of timely corrective action;</li>
            <li>participate in research projects and programmes as determined by the supervisor/co-supervisor, including attending symposia, seminars and conferences;</li>
            <li>if necessary, purchase items that may be required to complete the minor dissertation, dissertation or thesis;</li>
            <li>produce at least one manuscript of a research paper in a format that is ready for submission to an accredited research journal by the time the JBS Higher Degrees Assessment Committee/JBS Higher Degrees Committee considers the assessment results;</li>
            <li>adhere at all times to all general academic ethics with regard to academic integrity and plagiarism, and ethics requirements relating to the research work; and</li>
            <li>renew his/her annual registration with the University of Johannesburg at the stipulated times.</li>
          </ol>
          <p><strong>6.2 Responsibilities of the supervisor/co-supervisor and legitimate expectations by the student of the supervisor/co-supervisor</strong></p>
          <p>The supervisor/co-supervisor are responsible diligently and sincerely to exercise the following responsibilities; conversely, the student may legitimately expect the supervisor/co-supervisor to exercise these responsibilities at all times:</p>
          <ol class="supervisor-agreement-alpha-list" type="a">
            <li>clarify the respective roles of the supervisor and co-supervisor(s) (if appointed), and communicate these clearly to the student;</li>
            <li>administering and managing matters associated with the student&rsquo;s studies according to the regulations of the University of Johannesburg;</li>
            <li>cooperating with each other (where more than one supervisor has been assigned) and with the Head of Department and/or Dean of the School and/or other responsible University official, to ensure as far as reasonably possible that the student is provided with the basic infrastructure and necessary resources to undertake the research;</li>
            <li>co-operating with each other (where more than one supervisor has been assigned) and with the Head of Department and/or Dean, to assist with the arrangements for colloquia or seminars which the student may present;</li>
            <li>ensuring that the Program Manager and relevant committees are furnished with all relevant documentation at the relevant time;</li>
            <li>providing academic guidance to the student to ensure the development of research skills, and mastery of the research discipline and the field of specialisation, and that this is demonstrated by the relevant minor dissertation, dissertation or thesis;</li>
            <li>facilitating the student&rsquo;s access to necessary research resources, such as the library, laboratories and equipment, or access to chemicals and consumables, while not diminishing the student&rsquo;s duty to take responsibility for his/her own research, including purchasing items that may be required to complete the production of the minor dissertation, dissertation or thesis;</li>
            <li>introducing the student to the School in order to, where possible and practicable, involve him/her in academic activities appropriate to the field of expertise;</li>
            <li>meeting with the student regularly to provide guidance, monitor progress and agreed-upon timeframes, and recommend corrective measures if necessary;</li>
            <li>keeping a written record of progress and output, and providing timeous feedback, but bearing in mind also his/her other formal UJ responsibilities;</li>
            <li>providing progress reports required by the University of Johannesburg and its research or postgraduate study structures, or by external agencies such as the National Research Foundation;</li>
            <li>assessing the minor dissertation, dissertation or thesis (if appointed as an assessor), and overseeing any changes recommended by the assessors and which have been stipulated by the appropriate Faculty/College or University structure;</li>
            <li>liaising regularly with each other in order to clarify on an ongoing basis roles and responsibilities in regard to academic supervision;</li>
            <li>adhering at all times to all general academic ethics with regard to academic integrity and plagiarism, and ethics requirements of research work; and</li>
            <li>encouraging the student to seek external financial support for his/her studies.</li>
          </ol>
          <p><strong>7. DISPUTE RESOLUTION (ACCORDING TO ACADEMIC REGULATIONS)</strong></p>
          <p>In the event of a disagreement between a student and any supervisor, both parties are initially expected to resolve the disagreement amicably and on their own. By mutual consent, the parties may request the intervention of a facilitator (usually the programme coordinator or Head of Department (HOD)) to assist in finding a resolution to the disagreement.</p>
          <p>If all bona fide attempts to resolve a disagreement without the formal involvement of third parties with decision-making authority have failed, the parties are expected to alert the head of the respective academic department jointly or separately to the dispute, who will then be expected to mediate a resolution of the disagreement if possible. Where a resolution cannot be achieved with the involvement of the HOD, he/she decides whether the matter should be referred to the Dean of the School or a relevant higher authority in the University.</p>
          <p>If either party believes the HOD to be compromised in his/her attempts to mediate a solution, that party retains the right to appeal directly to the Dean, who will decide whether the appeal has merit, and will accordingly decide to either refer the matter back to the HOD, seek a resolution him/herself, or refer the matter to an appropriate committee within the University.</p>
          <p><strong>8. SIGNATORIES</strong></p>
          <p>This agreement was signed by:</p>
          <p class="supervisor-agreement-signing-line">
            <span>(a) Signed at</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-location-fill" name="student_signing_location" value="{{ prefill.get('student_signing_location', '') }}" {% if student_acceptance %}required{% else %}readonly{% endif %}>
            <span>on this</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-day-fill" name="student_signature_day" value="{{ prefill.get('student_signature_day', '') }}" {% if student_acceptance %}required{% else %}readonly{% endif %}>
            <span>day of</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-month-fill" name="student_signature_month" value="{{ prefill.get('student_signature_month', '') }}" {% if student_acceptance %}required{% else %}readonly{% endif %}>
            <span class="supervisor-agreement-year-tail"><span>20</span><input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-year-fill" name="student_signature_year" value="{{ prefill.get('student_signature_year', '') }}" {% if student_acceptance %}required{% else %}readonly{% endif %}><span>.</span></span>
          </p>
          <div class="supervisor-agreement-signature-pair">
            <div class="mba-doc-signature-field">{{ signature_preview('student_signature') }}<input class="mba-doc-input supervisor-agreement-line-fill" name="student_signature" value="{{ prefill.get('student_signature', '') }}" {% if student_acceptance %}required{% else %}readonly{% endif %}></div>
            <input class="mba-doc-input supervisor-agreement-line-fill" name="student_signature_name" value="{{ prefill.get('student_signature_name', prefill.get('student_name', '')) }}" {% if student_acceptance %}required{% else %}readonly{% endif %}>
          </div>
          <div class="supervisor-agreement-signature-labels"><span>STUDENT</span><span>Name printed</span></div>

          <p class="supervisor-agreement-signing-line">
            <span>(b) Signed at</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-location-fill" name="supervisor_signing_location" value="{{ prefill.get('supervisor_signing_location', '') }}" {% if readonly_for_student %}readonly{% else %}required{% endif %}>
            <span>on this</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-day-fill" name="supervisor_signature_day" value="{{ prefill.get('supervisor_signature_day', '') }}" {% if readonly_for_student %}readonly{% else %}required{% endif %}>
            <span>day of</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-month-fill" name="supervisor_signature_month" value="{{ prefill.get('supervisor_signature_month', '') }}" {% if readonly_for_student %}readonly{% else %}required{% endif %}>
            <span class="supervisor-agreement-year-tail"><span>20</span><input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-year-fill" name="supervisor_signature_year" value="{{ prefill.get('supervisor_signature_year', '') }}" {% if readonly_for_student %}readonly{% else %}required{% endif %}><span>.</span></span>
          </p>
          <div class="supervisor-agreement-signature-pair">
            <div class="mba-doc-signature-field">{{ signature_preview('supervisor_signature') }}<input class="mba-doc-input supervisor-agreement-line-fill" name="supervisor_signature" value="{{ prefill.get('supervisor_signature', '') }}" {% if readonly_for_student %}readonly{% else %}required{% endif %}></div>
            <input class="mba-doc-input supervisor-agreement-line-fill" name="supervisor_signature_name" value="{{ prefill.get('supervisor_signature_name', prefill.get('supervisor_full_name', '')) }}" {% if readonly_for_student %}readonly{% else %}required{% endif %}>
          </div>
          <div class="supervisor-agreement-signature-labels"><span>SUPERVISOR</span><span>Name printed</span></div>

          <p class="supervisor-agreement-signing-line">
            <span>(c) Signed at</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-location-fill" name="co_supervisor_signing_location" value="{{ prefill.get('co_supervisor_signing_location', '') if co_supervisor_has_signature else '' }}" {% if readonly_for_student %}readonly{% endif %}>
            <span>on this</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-day-fill" name="co_supervisor_signature_day" value="{{ prefill.get('co_supervisor_signature_day', '') if co_supervisor_has_signature else '' }}" {% if readonly_for_student %}readonly{% endif %}>
            <span>day of</span>
            <input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-month-fill" name="co_supervisor_signature_month" value="{{ prefill.get('co_supervisor_signature_month', '') if co_supervisor_has_signature else '' }}" {% if readonly_for_student %}readonly{% endif %}>
            <span class="supervisor-agreement-year-tail"><span>20</span><input class="mba-doc-input supervisor-agreement-line-fill supervisor-agreement-year-fill" name="co_supervisor_signature_year" value="{{ prefill.get('co_supervisor_signature_year', '') if co_supervisor_has_signature else '' }}" {% if readonly_for_student %}readonly{% endif %}><span>.</span></span>
          </p>
          <div class="supervisor-agreement-signature-pair">
            <div class="mba-doc-signature-field">{{ signature_preview('co_supervisor_signature') }}<input class="mba-doc-input supervisor-agreement-line-fill" name="co_supervisor_signature" value="{{ prefill.get('co_supervisor_signature', '') if co_supervisor_has_signature else '' }}" {% if readonly_for_student %}readonly{% endif %}></div>
            <input class="mba-doc-input supervisor-agreement-line-fill" name="co_supervisor_signature_name" value="{{ prefill.get('co_supervisor_signature_name', prefill.get('co_supervisor_full_name', '')) if co_supervisor_has_signature else '' }}" {% if readonly_for_student %}readonly{% endif %}>
          </div>
          <div class="supervisor-agreement-signature-labels"><span>CO-SUPERVISOR</span><span>Name printed</span></div>
        </div>

      </form>
    </div>
  </section>
</div>
<!-- MBA_FORM_END -->
<div class="supervisor-agreement-submit-controls">
  <button class="primary-button" type="submit" form="supervisor-agreement-form">{% if student_acceptance %}Submit Supervisor Agreement{% else %}Submit Form & Accept Invitation{% endif %}</button>
  <a href="{% if student_acceptance %}{{ url_for('mba.student_dashboard') }}{% else %}{{ url_for('mba.scholar_dashboard') }}{% endif %}" class="secondary-button">Cancel</a>
</div>
{% endblock %}
