{% extends "base.html" %}
{% block title %}JBS 1 Declaration{% endblock %}
{% block app_name %}MBA{% endblock %}
{% block page_heading %}JBS 1 Declaration{% endblock %}
{% block page_subheading %}{{ project.project_title }}{% endblock %}

{% block body %}
{% set student_fill_mode = student_fill_mode|default(false) %}
{% set supervisor_signature_mode = supervisor_signature_mode|default(false) %}
{% set admin_signature_mode = admin_signature_mode|default(false) %}
{% set student_editable = student_fill_mode and not supervisor_signature_mode and not admin_signature_mode %}
{% set supervisor_editable = supervisor_signature_mode %}
{% set admin_editable = admin_signature_mode %}
{% set view_only_mode = not student_fill_mode and not supervisor_signature_mode and not admin_signature_mode %}
{% set current_work_type = prefill.get('work_type', 'capstone consultancy project') or 'capstone consultancy project' %}
{% macro signature_field(name, value, editable=false, required=false) -%}
  <div class="mba-doc-signature-field">
    {% if prefill.get(name ~ '_image') %}
      <img class="mba-doc-signature-image" src="{{ prefill.get(name ~ '_image') }}" alt="Saved signature">
    {% endif %}
    <input class="mba-doc-input" name="{{ name }}" value="{{ value or '' }}" {% if not editable %}readonly{% endif %} {% if required %}required{% endif %}>
  </div>
{%- endmacro %}
<!-- MBA_FORM_START -->
<div class="mba-page-stack mba-doc-page">
  <section class="ethics-panel jbs-template-panel">
    <div class="mba-doc-paper mba-doc-paper--jbs-declaration jbs-template-doc">
      <form action="{% if supervisor_signature_mode %}{{ url_for('mba.supervisor_sign_jbs1_declaration', project_id=project.id) }}{% elif admin_signature_mode %}{{ url_for('mba.admin_sign_jbs1_declaration', project_id=project.id) }}{% else %}{{ url_for('mba.fill_project_form', project_id=project.id, form_type='jbs1_declaration') }}{% endif %}" method="post" class="mba-doc-form jbs-template-form">
        <table class="mba-doc-table jbs-template-table jbs-template-header-table">
          <colgroup>
            <col style="width:18%;">
            <col style="width:82%;">
          </colgroup>
          <tr>
            <td class="jbs-template-logo-cell">
              <img class="jbs-template-logo" src="{{ url_for('static', filename='img/supervisor_agreement_logo.png') }}" alt="Johannesburg Business School and University of Johannesburg logo">
            </td>
            <td class="jbs-template-title-cell">
              <div class="jbs-template-school">JOHANNESBURG BUSINESS SCHOOL</div>
              <div class="jbs-template-form-number">JBS 1</div>
              <div class="jbs-template-date">Sep 2022</div>
              <div class="jbs-template-title">STUDENT DECLARATION</div>
            </td>
          </tr>
        </table>

        <table class="mba-doc-table jbs-template-table jbs1-doc-table">
          <colgroup>
            <col style="width:19.4%;">
            <col style="width:32%;">
            <col style="width:20.9%;">
            <col style="width:27.7%;">
          </colgroup>
          <tr>
            <th class="jbs-template-section-title" colspan="4">SECTION A: Student information</th>
          </tr>
          <tr>
            <td class="jbs-template-label">Surname</td>
            <td><input class="mba-doc-input" name="surname" value="{{ prefill.get('surname','') }}" {% if not student_editable %}readonly{% endif %} {% if student_editable %}required{% endif %}></td>
            <td class="jbs-template-label">Title</td>
            <td><input class="mba-doc-input" name="student_title" value="{{ prefill.get('student_title','') }}" {% if not student_editable %}readonly{% endif %} {% if student_editable %}required{% endif %}></td>
          </tr>
          <tr>
            <td class="jbs-template-label">Initials</td>
            <td><input class="mba-doc-input" name="student_initials" value="{{ prefill.get('student_initials','') }}" {% if not student_editable %}readonly{% endif %} {% if student_editable %}required{% endif %}></td>
            <td class="jbs-template-label">ID number</td>
            <td><input class="mba-doc-input" name="student_id_number" value="{{ prefill.get('student_id_number','') }}" {% if not student_editable %}readonly{% endif %} {% if student_editable %}required{% endif %}></td>
          </tr>
          <tr>
            <td class="jbs-template-label">Student number</td>
            <td><input class="mba-doc-input" name="student_number" value="{{ prefill.get('student_number','') }}" {% if not student_editable %}readonly{% endif %} {% if student_editable %}required{% endif %}></td>
            <td class="jbs-template-label">Ethical Clearance number</td>
            <td><input class="mba-doc-input" name="ethical_clearance_number" value="{{ prefill.get('ethical_clearance_number','') }}" {% if not student_editable %}readonly{% endif %}></td>
          </tr>
          <tr>
            <td class="jbs-template-label">Qualification (e.g. MBA)</td>
            <td colspan="3"><input class="mba-doc-input" name="qualification" value="{{ prefill.get('qualification','') }}" {% if not student_editable %}readonly{% endif %} {% if student_editable %}required{% endif %}></td>
          </tr>
          <tr>
            <td class="jbs-template-label">Email Address</td>
            <td><input class="mba-doc-input" name="email" type="email" value="{{ prefill.get('email','') }}" {% if not student_editable %}readonly{% endif %} {% if student_editable %}required{% endif %}></td>
            <td class="jbs-template-label">Cell number</td>
            <td><input class="mba-doc-input" name="contact" value="{{ prefill.get('contact','') }}" {% if not student_editable %}readonly{% endif %} {% if student_editable %}required{% endif %}></td>
          </tr>
        </table>

        <table class="mba-doc-table jbs-template-table jbs1-doc-table">
          <tr>
            <th class="jbs-template-section-title">SECTION B: Declaration</th>
          </tr>
          <tr>
            <td>
              I hereby declare that this (capstone consultancy project / thesis) submitted for the above qualification, with the title
            </td>
          </tr>
          <tr>
            <td>
              <textarea class="mba-doc-textarea jbs-template-cell-textarea" name="research_title" rows="2" readonly required>{{ prefill.get('research_title','') }}</textarea>
              <div class="jbs-template-note">(provide approved title of research)</div>
            </td>
          </tr>
          <tr>
            <td>
              <p class="jbs-template-paragraph">In the Johannesburg Business School at the University of Johannesburg, apart from the sources recognised, is my own work. Furthermore, I declare that this document:</p>
              <ol class="jbs-template-alpha-list">
                <li>has not been formerly submitted to any other university for any degree;</li>
                <li>has been language edited by a professional external language editor; and</li>
                <li>I adhered to the ethical obligations and principles of research ethics, as prescribed by the JBS guidelines for ethics, and which I had signed as part of the declaration of intent at the start of my studies, during all phases of the research process.</li>
              </ol>
            </td>
          </tr>
        </table>

        <table class="mba-doc-table jbs-template-table jbs-template-signature-table">
          <colgroup>
            <col style="width:24%;">
            <col style="width:43.5%;">
            <col style="width:8.8%;">
            <col style="width:23.7%;">
          </colgroup>
          <tr>
            <td class="jbs-template-label">Signature of Student</td>
            <td>
              {{ signature_field('signature_name', prefill.get('signature_name',''), student_editable, student_editable) }}
            </td>
            <td class="jbs-template-label">Date</td>
            <td><input class="mba-doc-input" name="signature_date" type="date" value="{{ prefill.get('signature_date','') }}" {% if not student_editable %}readonly{% endif %} {% if student_editable %}required{% endif %}></td>
          </tr>
        </table>

        <div class="jbs-template-subtitle">DECLARATION BY SUPERVISOR(S)</div>
        <p class="jbs-template-paragraph">
          Approval for submission of assessment copy is hereby granted to the abovementioned student. The title has officially been approved by the JBS Higher Degrees Committee. A publishable article has been submitted / is currently being prepared / has not been submitted as it was not a requirement.&nbsp; The Turn-it-in report was checked and signed off.
        </p>

        <table class="mba-doc-table jbs-template-table jbs-template-signature-table">
          <colgroup>
            <col style="width:27.8%;">
            <col style="width:39.9%;">
            <col style="width:8.8%;">
            <col style="width:23.5%;">
          </colgroup>
          <tr>
            <td class="jbs-template-label">Signature of Supervisor</td>
            <td>{{ signature_field('supervisor_signature', prefill.get('supervisor_signature',''), supervisor_editable, supervisor_editable) }}</td>
            <td class="jbs-template-label">Date</td>
            <td><input class="mba-doc-input" name="supervisor_signature_date" type="date" value="{{ prefill.get('supervisor_signature_date','') }}" {% if not supervisor_editable %}readonly{% endif %} {% if supervisor_editable %}required{% endif %}></td>
          </tr>
          <tr>
            <td class="jbs-template-label">Signature of Co-Supervisor</td>
            <td>{{ signature_field('co_supervisor_signature', prefill.get('co_supervisor_signature',''), false, false) }}</td>
            <td class="jbs-template-label">Date</td>
            <td><input class="mba-doc-input" name="co_supervisor_signature_date" type="date" value="{{ prefill.get('co_supervisor_signature_date','') }}" readonly></td>
          </tr>
        </table>

        <div class="jbs-template-subtitle">FOR OFFICE USE</div>
        <table class="mba-doc-table jbs-template-table jbs1-office-table">
          <tr>
            <td class="jbs-template-label">Registration</td>
            <td><input class="mba-doc-input" name="office_registration" value="{{ prefill.get('office_registration','') }}" {% if not admin_editable %}readonly{% endif %}></td>
          </tr>
          <tr>
            <td class="jbs-template-label">Approved title</td>
            <td><input class="mba-doc-input" name="office_approved_title" value="{{ prefill.get('office_approved_title','') }}" {% if not admin_editable %}readonly{% endif %}></td>
          </tr>
          <tr>
            <td class="jbs-template-label">Affidavit</td>
            <td><input class="mba-doc-input" name="office_affidavit" value="{{ prefill.get('office_affidavit','') }}" {% if not admin_editable %}readonly{% endif %}></td>
          </tr>
          <tr>
            <td class="jbs-template-label">Language Edited</td>
            <td><input class="mba-doc-input" name="office_language_edited" value="{{ prefill.get('office_language_edited','') }}" {% if not admin_editable %}readonly{% endif %}></td>
          </tr>
          <tr>
            <td class="jbs-template-label">Turnitin report</td>
            <td><input class="mba-doc-input" name="office_turnitin_report" value="{{ prefill.get('office_turnitin_report','') }}" {% if not admin_editable %}readonly{% endif %}></td>
          </tr>
        </table>

        <table class="mba-doc-table jbs-template-table jbs-template-signature-table">
          <colgroup>
            <col style="width:27.8%;">
            <col style="width:39.9%;">
            <col style="width:8.8%;">
            <col style="width:23.5%;">
          </colgroup>
          <tr>
            <td class="jbs-template-label">Program Manager</td>
            <td>{{ signature_field('office_program_manager', prefill.get('office_program_manager',''), admin_editable, admin_editable) }}</td>
            <td class="jbs-template-label">Date</td>
            <td><input class="mba-doc-input" name="office_program_manager_date" type="date" value="{{ prefill.get('office_program_manager_date','') }}" {% if not admin_editable %}readonly{% endif %} {% if admin_editable %}required{% endif %}></td>
          </tr>
        </table>

        <input type="hidden" name="jbs1_consent" value="1">
        <input type="hidden" name="work_type" value="{{ current_work_type }}">

        <div class="mba-doc-actions jbs-template-submit-controls">
          {% if supervisor_signature_mode %}
            <button class="primary-button" type="submit">Sign JBS 1 Declaration</button>
            <a href="{{ url_for('mba.scholar_dashboard') }}" class="secondary-button">Cancel</a>
          {% elif admin_signature_mode %}
            <button class="primary-button" type="submit">Sign as Program Manager</button>
            <a href="{{ url_for('mba.admin_dashboard', panel='projects') }}" class="secondary-button">Cancel</a>
          {% elif view_only_mode %}
          {% else %}
            <button class="primary-button" type="submit">Submit JBS 1 for Supervisor Review</button>
            <a href="{{ url_for('mba.student_dashboard') }}" class="secondary-button">Cancel</a>
          {% endif %}
        </div>
      </form>
    </div>
  </section>
</div>
<!-- MBA_FORM_END -->
{% endblock %}
